<div class="w-full text-center font-bold text-xl">Forgot Password</div>

<div class="text-muted-foreground">Enter your account email address and we’ll send you a security code.</div>

<div class="flex flex-col gap-4">
    <form class="form_auth" autocomplete="recover" method="POST" action="/auth/forgot-password?returnUrl=<%= response.returnUrl %>">
        <div class="flex flex-col items-center gap-4">
            <%- include('../components/inputs/inputGroup.ejs', {
                type: 'text',
                label: 'Email',
                attributes: [
                    { name: 'name', value: 'email' },
                    { name: 'autocomplete', value: 'email' }
                ],
                errors: [ 'required', 'email' ]
            }); %>

            <button type="submit" class="button button-hover button-primary shadow-2">Submit</button>
        </div>
    </form>

    <div class="flex flex-row gap-1 justify-center items-center w-full">
        <span class="text-muted-foreground text-base">Remembered your password?</span>
        <a href="/login?returnUrl=<%= response.returnUrl %>"><div class="text-base">Sign In</div></a>
    </div>
</div>