<div class="w-full text-center font-bold text-xl">Reset Instructions Sent</div>

<div><span class="text-muted-foreground">An email with a link and reset instructions is on way to </span><%= response.email %></div>

<div class="text-muted-foreground">If you don't receive an email soon, check that the email address you entered is correct, check your spam folder or reach out to support if the issue persist.</div>

<div class="flex flex-row gap-1 justify-center items-center w-full">
    <a href="/login?returnUrl=<%= response.returnUrl %>"><div class="text-base">Back to Sign In</div></a>
</div>