<div class="w-full text-center font-bold text-xl">Reset Request Has Expired</div>

<div class="text-muted-foreground">Go back and enter the email associated with your account and we will send you another link with instructions to reset your password.</div>

<div class="flex flex-row gap-1 justify-center items-center w-full">
    <a href="/login/forgot-password?returnUrl=<%= response.returnUrl %>"><div class="text-base">Want to try again?</div></a>
</div>