<div class="w-full text-center font-bold text-xl">Password Updated</div>

<div class="text-muted-foreground">Your password has been successfully changed. Use your new password to Sign In.</div>

<div class="flex flex-row gap-1 justify-center items-center w-full">
    <a href="/login?returnUrl=<%= response.returnUrl %>"><div class="text-base">Back to Sign In</div></a>
</div>