<div class="w-full text-center font-bold text-xl">Reset Your Password</div>

<div class="text-muted-foreground">Use the form below to change your password. This request will expire in about <%= response.expire %> minutes.</div>

<div class="flex flex-col gap-4">
    <form class="form_auth" autocomplete="recover" method="POST" action="/auth/reset-password?token=<%= response.token %>">
        <div class="flex flex-col items-center gap-4">
            <%- include('../components/inputs/inputGroup.ejs', {
                type: 'password',
                label: 'Password',
                attributes: [
                    { name: 'name', value: 'password' }
                ],
                errors: [ 'required', 'password' ]
            }); %>

            <%- include('../components/inputs/inputGroup.ejs', {
                type: 'password',
                label: 'Confirm Password',
                attributes: [
                    { name: 'name', value: 'confirm_password' }
                ],
                errors: [ 'required', 'password' ]
            }); %>

            <button type="submit" class="button button-hover button-primary shadow-2">Submit</button>
        </div>
    </form>
</div>