<div class="w-full text-center font-bold text-xl">Set Your Password</div>

<div class="text-muted-foreground">Create a secure password to finish setting up your account. This will be used to log in.</div>

<div class="flex flex-col gap-4">
    <form class="form_auth" autocomplete="set-password" method="POST" action="/auth/set-password?returnUrl=<%= response.returnUrl %>">
        <div class="flex flex-col items-center gap-4">
            <%- include('../components/inputs/inputGroup.ejs', {
                type: 'password',
                label: 'Password',
                attributes: [
                    { name: 'name', value: 'password' }
                ],
                errors: [ 'required', 'password' ]
            }); %>

            <%- include('../components/inputs/inputGroup.ejs', {
                type: 'password',
                label: 'Confirm Password',
                attributes: [
                    { name: 'name', value: 'confirm_password' }
                ],
                errors: [ 'required', 'password' ]
            }); %>

            <button type="submit" class="button button-hover button-primary shadow-2">Submit</button>
        </div>
    </form>

    <div class="flex flex-row gap-1 justify-center items-center w-full">
        <span class="text-muted-foreground text-base">Don't want to register anymore?</span>
        <a href="/auth/logout?returnUrl=<%= response.returnUrl %>"><div class="text-base">Log Out</div></a>
    </div>
</div>