<div class="w-full text-center font-bold text-xl">Verification Request Has Expired</div>

<div class="text-muted-foreground">Go back and to the Sign In page and submit another login request.</div>

<div class="flex flex-row gap-1 justify-center items-center w-full">
    <span class="text-muted-foreground text-base">Want to try again?</span>
    <a href="/login?returnUrl=<%= response.returnUrl %>"><div class="text-base">Sign In</div></a>
</div>