<div class="section flex flex-col gap-2">
    <div class="flex flex-row justify-between items-center gap-2">
        <div class="skeleton skeleton-card h-8 w-20 rounded-1"></div>

        <div class="flex flex-row items-center gap-2">
            <div class="flex flex-row items-center gap-1">
                <button class="button button-hover button-accent shadow-2 disabled">
                    <%- include('./icon.ejs', {
                        icon: 'chevron-left',
                        className: 'size-3'
                    }); %>
                </button>

                <button class="button button-hover button-accent shadow-2 disabled">
                    <%- include('./icon.ejs', {
                        icon: 'chevron-right',
                        className: 'size-3'
                    }); %>
                </button>
            </div>
        </div>
    </div>

    <div class="swiper">
        <div class="casino-games list flex flex-row transition duration-500">
            <% for(var i = 0; i < 20; i++){ %>
                <%- include('./casinoGameSkeleton.ejs'); %>
            <% } %>
        </div>
    </div>
</div>