<div class="coinflip-player w-5/12 h-full bg-secondary rounded-2 p-1">
    <div class="flex flex-col justify-between items-center h-full">
        <div class="flex flex-col items-center justify-center size-full gap-2">
            <%- include('./userAvatarSkeleton.ejs', { type: 'card', size: 'size-15' }); %>

            <div class="skeleton skeleton-card text-medium-box"></div>
        </div>

        <div class="skeleton skeleton-card text-medium-box"></div>
    </div>
</div>