<div class="item table-row">
    <div class="table-column text-left">
        <%- include('./userAvatarSkeleton.ejs', { type: 'card', size: 'size-8' }); %>
    </div>

    <div class="table-column text-left"><div class="skeleton skeleton-card text-medium-box"></div></div>
    <div class="table-column text-left"><div class="skeleton skeleton-card text-medium-box"></div></div>
    <div class="table-column text-left"><div class="skeleton skeleton-card text-medium-box"></div></div>
</div>