<div class="crash-graph flex flex-col" id="crash_graph">
    <canvas id="crash_canvas"></canvas>

    <div class="crash-messages flex justify-center items-center">
        <div class="crash-message starting">
            <div>Next round in...</div>
            <div class="font-bold"><span id="crash_timer">5.00</span>s</div>
        </div>
        <div class="crash-message progress">
            <div>Crashed at</div>
            <div><span id="crash_crash">1.00</span>x</div>
        </div>
    </div>
</div>