<div class="empty flex flex-col items-center justify-center absolute gap-4 w-full h-full">
    <%- include('./icon.ejs', {
        icon: 'inbox',
        className: 'text-muted-foreground size-18'
    }); %>

    <div class="text-base font-bold"><%= title %></div>
</div>