<div class="jackpot-case flex flex-row items-center rounded-2 relative" id="jackpot_case">
    <div class="group-reel flex" id="jackpot_spinner">
        <div class="flex" id="jackpot_field"></div>
    </div>

    <div class="shadow horizontally shadow-left"></div>
    <div class="shadow horizontally shadow-right"></div>

    <div class="absolute top-0 bottom-0 left-0 right-0 flex justify-center">
        <div class="pointer flex items-center"></div>
    </div>
</div>