<div class="jackpot-case flex flex-row items-center rounded-2 relative" id="jackpot_case">
    <div class="skeleton skeleton-card reel-box"></div>

    <div class="shadow horizontally shadow-left"></div>
    <div class="shadow horizontally shadow-right"></div>
</div>