<div class="roulette-betitem bg-secondary bg-opacity-50 flex items-center justify-between p-2 rounded-2">
    <div class="flex items-center gap-1">
        <%- include('./userAvatarSkeleton.ejs', { type: 'card', size: 'size-8' }); %>

        <div class="skeleton skeleton-card text-medium-box"></div>
    </div>

    <div class="skeleton skeleton-card text-medium-box"></div>
</div>