<div class="flex flex-row items-center gap-2" id="roulette_hundred_box_<%= color %>">
    <div class="skeleton skeleton-card item-box"></div>

    <div class="skeleton skeleton-card number-box"></div>
</div>