<div class="roulette-betstotal flex items-center justify-between gap-2">
    <div class="skeleton skeleton-card text-medium-box"></div>

    <div class="skeleton skeleton-card text-medium-box"></div>
</div>