<div class="flex flex-col justify-center gap-1">
	<div class="text-base">You were banned by <%= response.name %> for <%= response.reason %>. The restriction expires <%= response.expire %>.</div>
	<div class="text-base font-bold">For appeal, you can open a support ticket on <a class="underline" href="/support">support</a> page.</div>
</div>