<div class="flex flex-col gap-2">
	<div class="flex flex-col gap-4">
        <div class="flex flex-col items-center gap-2">
            <div class="flex flex-col items-center gap-4 bg-card bg-opacity-50 rounded-2 border-2 border-card p-4">
                <div class="text-base font-bold uppercase">This profile is private</div>

                <div class="flex flex-col items-center gap-1">
                    <div class="text-base">Details and inventory have been hidden.</div>
                    <div class="text-base">You can do the same for your profile just <a class="font-bold text-primary underline" href="/account/settings">Click here</a></div>
                </div>
            </div>
        </div>
    </div>
</div>