<div class="slider-ticks flex flex-row items-center justify-between">
    <% ticks.forEach(function(item){ %>
        <div class="slider-tick text-2xs text-muted-foreground text-center"><%= item %></div>
    <% }); %>
</div>