.account-security .security-method .method-icon{
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    position: relative;
}

.account-security .security-method:not(.primary) .method-badge{
    display: none;
}

.account-security .security-method.primary .method-primary{
    display: none;
}

.account-security .security-method:not(.enabled) .method-enabled{
    display: none;
}

.account-security .security-method.enabled .method-disabled{
    display: none;
}

.account-security .security-method:not(.enabled) .method-icon .method-selected{
    display: none;
}

.account-security .security-method.enabled .method-icon{
    border: solid 2px #21934c; /* color */
    box-shadow: inset 0 0 4px #21934c; /* color */
}

.account-security .security-method .method-icon .method-selected{
    background-color: #21934c; /* color */
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border-radius: 50%;
	color: #0f5b2d; /* color */
	z-index: 1;
}

.account-qrcode {
	width: 150px;
	height: 150px;
    min-width: 150px;
	min-height: 150px;
	display: inline-table;
	border: 10px solid var(--color-white);
	border-radius: 10px;
	position: relative;
	background-color: var(--color-white);
}